#tablePlaceholder {
    display: none;
    flex-direction: column;
    gap: 20px;
}

#filters {
    z-index: 999;

    width: 100%;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}
#filters > * {
    flex: 1;
}

#btn-download-table {
    width: 100px;
    background-color: #254a74;
}